body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1%;
}

#footer {
  padding: 10px;
  max-width: 100%;
  height: auto;
  clear: both;
  text-align: left;
  background-color: #2b303a;
  color: white;
}


