{% extends 'base.html' %}
{$ load static %}
{% block meta %}
    <title>Mata Kuliah</title>
{% endblock meta %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h2>Mata Kuliah</h2>
        </div>
    </div>

    <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
    
    
{% endblock content %}
